In [ ]:
import os

import sklearn

import pandas as pd

import matplotlib.pyplot as plt


!git clone https://github.com/mizzmir/data.git

fatal: destination path 'data' already exists and is not an empty directory.

`import sklearn`

sklearn - python library with machine learning tools ( regression/clasification models, grid search, train/test split , metrics etc ...
https://scikit-learn.org/stable/supervised_learning.html#supervised-learning

`import pandas as pd`

pandas - library to read data from csv/excel files. Everything that is connected with data wrangling and preprocessing ( statistics etc, not for example word reprocessing)
basic pandas tutorial: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

`import matplotlib.pyplot as plt`

matplot - library used for plotting data

In [ ]:
data_dir = "./data/titanicData"
data_path = os.path.join(data_dir, "train.csv")

#
# reading titanic passagers data write into csv file and displaying first 5 frames
# titanic data is data that shows some passanger data and information does this passenger survived or not.
# As you can see we have 'Survived' column, that`s out aim, we want ot try predict, rest is our input data
#
dataframe = pd.read_csv(data_path)
print(dataframe.shape)
dataframe.head()

(891, 12)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

We can pass this data directly to Neural network or machine learning alghoritm but we can do some cleaning due too:


1.   Present of Null elements ( elements not filled )
2.   Some data doesnt bring nothing to our analysis (like Name, PassengerId etc..)
3.   It`s good practice to convert string variables into integers/floats/numeric data, it can speed up computation and result in better predictions, due to processing numers not objects data
4.   Some data cna be numericas data that can spread from for example 0 to 80000. It`s good to analyse those data and put them into some ranges to make classification better
5.   Think about what metric to use: accuracy, precission, recall, f1/f_beta score, ROC

In [ ]:
'''
checking of null elements cna be done using isnull method from pandas library
It will only get us information is given data is null, but in shape of ugly table
TO get more meaningfull information it has to be used with pandas sum() method

To get statistic information about data in dataframe use describe() method

we can get single column data using 

dataframe['COLUMN NAME']

we can get two columns data , print only two columns by using

dataframe[['FIRST_COL', 'SECOND_COL']]
'''

# TODO: 
# check if there are any null data in dataframe

# put code here

# TODO
# print statistical data about dataset

'\nchecking of null elements cna be done using isnull method from pandas library\nIt will only get us information is given data is null, but in shape of ugly table\nTO get more meaningfull information it has to be used with pandas sum() method\n'

In [ ]:
'''
When we identify null data we have two options:
- get rid of them 
- fill them with some values

All methods that operates on dataframe are under : https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

As for first option removing of data can be done using pandas drop(columns=['Col_Name_1', 'Col_name_2', ...], inplace=True/False)

As for second option it depends from distribution etc... Safest way when dealing with numerical data is to use median of values in given column.
In case of string data most common elements in given column ( mode() method gives most common element mode()[0] will give value of this element)
Or use some regression to figure out what to put
method: fillna(...)

for example 
dataframe['COL_NAME'].fillna(VALUE_TO_FILL_WITH, inplace=True/False)
'''

# TODO
# get rid of all null values using first or second method, your choice

# put code here

"\nWhen we identify null data we have two options:\n- get rid of them \n- fill them with some values\n\nAll methods that operates on dataframe are under : https://pandas.pydata.org/pandas-docs/stable/reference/frame.html\n\nAs for first option removing of data can be done using pandas drop(columns=['Col_Name_1', 'Col_name_2', ...], inplace=True/False)\n\nAs for second option it depends from distribution etc... Safest way when dealing with numerical data is to use median of values in given column.\nIn case of string data most common elements in given column ( mode() method gives most common element mode()[0] will give value of this element)\nOr use some regression to figure out what to put\n"

In [ ]:
'''
It`s good idea to plot histograms how given data is relevant for our estimation goal, itn this case doeas given person survive or not from titanic
to plot histograms we can use two libraries:

import seaborn from sns 

sns.set()
sns.distplot(dataframe['Fare'])

It will print 'Fare' column values on histogram

import  matplotlib.pyplot as plt

plt.hist(...)
https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.hist.html

in order to print given column:

plt.figure()
plt.hist(x=dataframe['Fare'], label=["Fare"])

if in pandas we want print given column when some condition is present for example we want print histogram of 'Age' column of only passengers that survived

plt.hist(x=dataframe[CONDITION][COLUMN_WE_WANT_TO_PRINT])
plt.hist(x=dataframe[dataframe['Survived']==1]['Age'])

this tells us : 

x is (=) dataframe (dataframe ) that have survived==True ([dataframe['Survived']==1]) column 'Age' (['Age'])

we can also print two plots on one plot for exaple stacked survived and no survived based on age 

plt.hist(x = [SURVIVED_DATA, DEAD_DATA],
        stacked=True, color = ['g','r'], label=['Survived', 'Dead'])
plt.title("Survived Age")
plt.legend()

'''

# TODO
# plot data and analyse them to get info about what can be relevand and what not, what range of given columns is relevant if we wnat to make ranges for some columns

# put code here

'\nIt`s good idea to plot histograms how given data is relevant for our estimation goal, itn this case doeas given person survive or not from titanic\nto plot histograms we can use two libraries:\n\nimport seaborn from sns \n\nsns.set()\nsns.distplot(dataframe[\'Fare\'])\n\nIt will print \'Fare\' column values on histogram\n\nimport  matplotlib.pyplot as plt\n\nplt.hist(...)\nhttps://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.hist.html\n\nin order to print given column:\n\nplt.figure()\nplt.hist(x=dataframe[\'Fare\'], label=["Fare"])\n\nif in pandas we want print given column when some condition is present for example we want print histogram of \'Age\' column of only passengers that survived\n\nplt.hist(x=dataframe[CONDITION][COLUMN_WE_WANT_TO_PRINT])\nplt.hist(x=dataframe[dataframe[\'Survived\']==1][\'Age\'])\n\nthis tells us : \n\nx is (=) dataframe (dataframe ) that have survived==True ([dataframe[\'Survived\']==1]) column \'Age\' ([\'Age\'])\n\nwe can also print two plots on one plot for exaple stacked survived and no survived based on age \n\nplt.hist(x = [SURVIVED_DATA, DEAD_DATA],\n        stacked=True, color = [\'g\',\'r\'], label=[\'Survived\', \'Dead\'])\nplt.title("Survived Age")\nplt.legend()\n\n'

In [ ]:
'''
  We can get one more metric to get informations about what datas are relevant and what doesn`t. We can get mean survival rate for given column/feature.
  If mean of for example male and woman is the saam, than this can tell us that they have average same chance to survive, in this canse it`s worth to think
  maybe we can drop this feature?

  to do this we can use groupby(...) method from pandas
  if we want to sort values we can than use .sort_values(...) method

  for example to get mean survival rate of feature X we can get

  dataframe[[COL_1, COL_2]]. groupby(COL_1, as_index=True/False).mean() 
'''

# TODO
# get statistical information about mean survival rate, and think about it, what matters and what not, and why?
# what should we do before we can take this statistic into consideration (for example 'Fare' column means)

'''
  To make bins for data we can use pandas cut(...) method 
  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html?highlight=cut#pandas.cut
  Thats why previous steps are important in analysis, so we can see what ranges matters
'''

In [ ]:
# TODO 
# get rid of columns that you think are not relevant for survival of people ( maybe all things matter, then leave all )

# put code here

In [ ]:
# TODO
# change string data into numerical datas using replace(...) method from pandas library or leave it as you wish
# for example df.replace({0: 10, 1: 100}) will replace all 0 with 10 and all 1 with 100 ( using dictionary )

# put code here

In [ ]:
# TODO
# take Survived column from dataframe as target_predictions/ desired output
# remove it from dataframe and save it as trainining input
# split data into train/test set using
#                  sklearn.model_selection.train_test_split
# with split rate you want

# think what metric to take : accuracy/precission/recall/ROC/PR curve/ROC AUC and why

In [ ]:
'''
Implelement whole pipeline to get best results using classic ML techniques
try to find best model/models/ensemble of models to solve this
maybe try to use some external library like xgBoost

try to get better plots with seaborn library
'''

'\nImplement neural network that will be trained using train dataset part \ntrain it and evaluate on test dataset\nThen try to optimize it to get better results\n\nTIP: to get better results/ more meaningfull you can use K-Folding\nhttps://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html?highlight=kfold#sklearn.model_selection.KFold\n\n'